<div class="header">
  <div class="left-header">
    <%= link_to "Achive", root_path, class:"title-name" %>
  </div>
  <div class="center-header">
    <div class="search">
      <form class="search-form">
        <input type="text" placeholder="名前で検索" class="name-form">
        <input type="submit" value="検索" class="send">
      </form>
    </div>
  </div>
  <div class="right-header">
      <% if user_signed_in? %>
      <div class="right-header-left">
        <%= link_to 'マイページ' %>
      </div>
      <div class="right-header-right">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </div>
      <% else %>
      <div class="right-header-left">
        <%= link_to '新規登録',  new_user_registration_path %>
      </div>
      <div class="right-header-right">
        <%= link_to 'ログイン',  new_user_session_path %>
      </div>
      <% end %>
  </div>
</div>
<%# ここまでがヘッダーです。完成したら部分テンプレートにする。 %>
<div class="main">
  <% if user_signed_in?%>
    <% if @main_goal.present?%>
      <% @main_goal.each do |goal| %>
        <div class="goal">
          <div class="goal-content">
            <div class="main-goal-name">
            <h1><%= goal.main_goal %></h1>
            </div>
            <div class="main-goal-explnation ">
            <p><%= goal.explnation %></p>
            </div>
          </div>
          <div class="limit">
            <div class="goal-limit">
            <h2>残り</h2>
            <h1><%= "#{(goal.dead_line - Date.today).to_i}日！！" %> </h1>
            </div>
          </div>
        </div>
      <% end %>
    <%else%>
      <h1 class="message">さぁ目標を決めよう！！</h1>
      <div class="goal-set">
        <%=link_to "目標を設定する", new_main_goal_path %>
      </div>
    <%end%>
  <%else%>
    <h1 class="message">ログインして仲間になろう！！</h1>
  <%end%>
</div>

<div class="others">
  <p>他の人の目標を見る</p>
</div>
<%# ここからがフッター。完成したら部分テンプレートに %>
<div class="footer">
  <p>提供</p>
</div>