<div class="header">
  <div class="left-header">
    <%= link_to "Achive", root_path, class:"title-name" %>
  </div>
  <div class="center-header">
    <div class="search">
      <form class="search-form">
        <input type="text" placeholder="名前で検索" class="name-form">
        <input type="submit" value="検索" class="send">
      </form>
    </div>
  </div>
  <div class="right-header">
      <% if user_signed_in? %>
      <div class="right-header-left">
        <%= link_to 'マイページ' %>
      </div>
      <div class="right-header-right">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </div>
      <% else %>
      <div class="right-header-left">
        <%= link_to '新規登録',  new_user_registration_path %>
      </div>
      <div class="right-header-right">
        <%= link_to 'ログイン',  new_user_session_path %>
      </div>
      <% end %>
  </div>
</div>
<%# ここまでがヘッダーです。完成したら部分テンプレートにする。 %>
<div class="main">
  <div class= new-main>
    <%=form_with model: @main_goal, local:true do |f|%>
      <p>目標</p>
      <div class="main-goal">
        <%= f.text_area :main_goal, placeholder:"目標を書こう！！", class:"input-form name"%>
      </div>
      <p>説明</p>
      <div class="main-goal">
        <%= f.text_area :explnation, placeholder:"目標について詳しく！！", class:"input-form explanation"%>
      </div>
      <p>締め切り</p>
      <p><span>(右のアイコンをクリック)</span></p>
      <div class="main-goal">
        <%= f.date_field :dead_line, class:"input-form dead-line"%>
      </div>
      <div class="main-goal">
      <%= f.submit "目標設定！！" ,class:"set-btn" %>
      </div>
    <%end%>
  </div>
</div>
<%# ここからがフッター。完成したら部分テンプレートに %>
<div class="footer">
  <p>提供</p>
</div>