<div class="header">
  <div class="left-header">
    <%= link_to "Achive", root_path, class:"title-name" %>
  </div>
  <div class="center-header">
    <div class="search">
      <form class="search-form">
        <input type="text" placeholder="名前で検索" class="name-form">
        <input type="submit" value="検索" class="send">
      </form>
    </div>
  </div>
  <div class="right-header">
      <% if user_signed_in? %>
      <div class="right-header-left">
        <%= link_to 'マイページ' %>
      </div>
      <div class="right-header-right">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </div>
      <% else %>
      <div class="right-header-left">
        <%= link_to '新規登録',  new_user_registration_path %>
      </div>
      <div class="right-header-right">
        <%= link_to 'ログイン',  new_user_session_path %>
      </div>
      <% end %>
  </div>
</div>
<%# ここまでがヘッダーです。完成したら部分テンプレートにする。 %>
<div class= new-main>
  <%=form_with model: @main_goal, local:true do |f|%>
    <p>目標</p>
    <div class="main-goal name">
      <%= f.text_area :main_goal, placeholder:"目標を書こう！！"%>
    </div>
    <p>説明</p>
    <div class="main-goal explanation">
      <%= f.text_area :exlanation, placeholder:"目標について詳しく！！"%>
    </div>
    <p>締め切り</p>
    <div class="main-goal dead-line">
      <%= f.date_field :dead_line%>
    </div>
    <%= f.submit "目標設定！！" ,class:"sell-btn" %>
  <%end%>
</div>
<%# ここからがフッター。完成したら部分テンプレートに %>
<div class="footer">
  <p>提供</p>
</div>