<div class="main">
  <% if user_signed_in?%>
    <% if main_goal.present?%>
      <% main_goal.each do |goal| %>
        <div class="goal">
          <div class="goal-content">
            <div class="main-goal-name">
              <h1><%= goal.main_goal %></h1>
            </div>
            <div class="main-goal-explnation ">
              <p><%= goal.explnation %></p>
            </div>
            <div class="sub-goals">
              <div class="sub-goals-contents">
                <%sub_goal.each do |sub_goal|%>
                  <div class="sub-goal">
                    <div class="sub-goal-name">
                      <%= sub_goal.sub_goal %>
                    </div>
                    <div class="sub-goal-limit">
                      <%= "残り#{((sub_goal.dead_line-DateTime.now).to_i/(24*60*60)).floor}日！！"%>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="limit">
            <div class="goal-limit">
            <h2>残り</h2>
            <h1 id= "goal-limit"><%= "#{goal.dead_line}" %> </h1>
            </div>
          </div>
        </div>
      <% end %>
    <%else%>
      <div class="goal-set-none">
        <h1 class="message">さぁ目標を決めよう！！</h1>
        <%=link_to "目標を設定する", new_main_goal_path %>
      </div>
    <%end%>
  <%else%>
    <div class="goal-set-none">
      <h1 class="message">ログインして仲間になろう！！</h1>
      </div>
  <%end%>
</div>